{
    "presets": [
        ["@babel/preset-env", {
            "forceAllTransforms": true,
            "modules": "cjs",
            "debug": false,
            "useBuiltIns": "usage"
        }]
    ]
}